body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: bold;
}
.btn-blue {
	background: #428bca !important;
}
.site-content-toolbar {
    background: #f5f5f5 none repeat scroll 0 0 !important;
    color: #202020 !important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.082);
    min-height: 100px;
    padding: 0px 24px;
}
.site-content-toolbar h2 { 
	color: #222;
}
.content-container {
	padding: 15px 24px;	
	color: #333;
	max-width: 60%;
}
.content-container .md-button {
	min-height: 26px;
	line-height: 26px;
	text-transform: none;
}
.content-container a { 
	color: #357ebd;
}
.content-container h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.content-container h4 {
	margin-bottom: 5px;
	font-size: 18px;
}
.content-container p, li {
	margin: 0;
	color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}
.content-container li {
	min-height: 30px;
	line-height: 30px;
}
.content-container li img {
	display: inline-block;
	vertical-align: middle;
}
.content-container li .md-button.md-fab.md-mini { 
	background: #fff none repeat scroll 0 0;
    color: #000;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    width: 30px;
}
.content-container md-card {
	padding: 0 40px;
}
.content-container md-card ul {
	padding-left: 20px
}
.content-container md-card h4 {
	margin-bottom: 0;
    margin-top: 15px;
}
.logo-container {
	background: #333 none repeat scroll 0 0 !important;
}
.jp-logo {
	width: auto;
	min-height: 100px;
	padding: 22px 15px;
}
.jp-logo img {
	height: 50px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
/*.align-right {
  float: right;
}*/
#cssmenu > ul > li > a {
  padding: 16px 22px;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  border-radius: 0;
  background: transparent;
  font-weight: bold;
  color: #666;
  /*color: #fff;*/
}
#cssmenu > ul > li > a:hover, #cssmenu ul ul li a:hover  {
	background: #357ebd;
	color: #fff;
}
/*#cssmenu > ul > li > a:hover {
  color: #d8f3f0;
}*/
/*#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "ï”";
  font-family: FontAwesome;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}*/
/*#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}*/
/*#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
#cssmenu ul ul li a {
  padding: 14px 22px;
  padding-left: 32px;
  font-size: 14px;
  border-radius: 0;
  text-align: left;
  font-weight: bold;
  color: #666;
}
/*#cssmenu ul ul li a:hover {
  color: #ffffff;
}*/
/*#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}*/
.md-sidenav-left {
	background: #f1f1f1;
}
.md-sidenav-left md-content { 
	background: transparent;
}
.demo-container md-toolbar {
	background: #357ebd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.demo-content.cardDemo1 {
	padding: 10px;
}
.help-spacer {
	margin: 20px 0;
}